/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.App-intro {
  font-size: large;
}

.notifry {
 text-decoration: underline;
 font-size: 1.5em;
 width: 33.333%;
   text-align: center;
}

.mic {
  color: white;
  width: 16.66666%;
  font-size: 1.5em;
}

.newNote {
  width: 16.66666%;
  background-color: black;
  color: white;
  border: solid 1px white;
}

/* containers */

.app-container {
  width: 75%;
  margin: 0 auto;
  padding: 5px;
}

.cal-container {
 width: 100%;
 padding: 5px;
 margin: 10px 0px 10px 0px;
 border: 0.5px solid grey;
 border-radius: 5px;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

/* panel views */
.panel-fluid {
  /* fills panel based on calendar view */
 width: 100%;
 height: 100%;
}
.cal-panel {
  border: 1px solid black;
  height: 75px;
  margin: 5px;
  padding: 5px;
  background: #FFA07A;
  border: 0.5px solid black;
  transition: background 0.5s width 1s height 1s;
  /*overflow: scroll;*/
}

.popuppanel {
  background: #FF8C00;
  width:100%;
}

.Month-cal-panel {
  width: 22.5%;
}
.Week-cal-panel {
  width: 11.5%;
}
.Day-cal-panel {
  width: 90%;
}
.Year-cal-panel {
  width: 30%;
}

.memo {
  border: 0.5px solid black;
}
/* nav view */

.nav-full {
  width: 100%;
  /*border: 1px solid black;*/

  display: flex;
  justify-content: space-around;
}

.nav-partial {
  width: 22%;
  color: rgba(1,1,1,0.8);
  height: 50px;
  border-radius: 15px;
  border: 1px solid;
  border-color: rgba(1,1,1,0.3);
  box-shadow: 2.5px 2.5px 1px #888888;
  padding: 5px;
}

/* modal */
.popUp {
  position: absolute;
  z-index: 2;
  background: white;
}
.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}

.cal-header-container {
  display: flex;
  justify-content: space-around;
}
.cal-header {
  width: 70% !important;
}

.left-arrow, .right-arrow {
   width: 15%;
   vertical-align: middle;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 2em;
}
